html,
body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #fdfdfd
}

[contenteditable] {
    outline: 0px solid transparent;
}


.fileZone {
    background-color: #f8f8f8;
    padding: 30px 15px;
    padding-top: 50px;
    height: 100vh;
    border-radius: 0px;
    background: #F8F8F8;
    box-shadow: inset 5px 5px 14px #dddddd,
        inset -5px -5px 14px #ffffff;
}

@media(max-width: 767px) {
    .fileZone {
        height: fit-content;
        max-height: 33vh;
        overflow: scroll;
        overflow-x: hidden;
    }
}

.textZone {
    margin: 0px;
    min-height: 60vh;
}

#activeNote {
    width: 100%;
    height: 100%;
    padding: 50px 10px 0px 10px;
}

.uneFeuille {
    padding: 5px;
    opacity: .8;
    cursor: pointer;
    transition: all 3s cubic-bezier();
}

.uneFeuille:hover {
    transform: scale(1.01);
    color: #5770BE;
}

#toggleUIlist {
    border-color: transparent;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 99;
    cursor: pointer;
    outline: 0px solid transparent;
    background-color: transparent;
    padding: 5px;
}

.iconToggle {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 5px;
    border-radius: 50%;
    background-color: #f8f8f8;
    z-index: 100;
}

.iconToggle:hover {
    transform: scale(1.05);
    color: #5770BE;
}

.iconParam {
    padding: 5px;
    border-radius: 50%;
    background-color: #f8f8f8;
    z-index: 100;
}

#newNote {
    padding: 4px;
    border-color: transparent;
    z-index: 99;
    opacity: .7;
    outline: 0px solid transparent;
    background-color: transparent;
}